.menu-bar, .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.menu-bar a, .menu-open p {
    color: #fff;
    cursor: pointer;
}

.menu-logo a {
    font-weight: 800;
}

.menu-close p {
    color: #000;
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    background: #ff6037;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-overlay-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-close {
    display: flex;
    align-items: center;
}

.menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

.menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-close-icon p {
    font-size: 40px;
    -webkit-text-stroke: 2px #ff6037;
    line-height: 70%;
}

.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link-item-holder a{
    color: #000;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: 85%;
}

.menu-info {
    display: flex;
    margin-top: 2em;
}

.menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 900px) {

    .menu-close-icon {
        display: none;
    }

    .menu-copy {
        width: 100%;
        padding: 6em 0 2em 0;
    }

    .menu-link-item-holder a{
        font-size: 60px;
    }

    .menu-info{
        flex-direction: column;
    }
    
}